@media (max-width: 639px) {
  .hero {
    padding: 50px 25px 30px;
    margin: 0px;
    h1 {
      font-size-adjust: auto;
      font-size: 50px;
    }
    h2 {
      font-size: 40px;
    }
  }
  .info-page {
    border-radius: 0px;
    padding: 20px 15px;
    margin-left: 0px;
    margin-right: 0px;
    h1 {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .img-cell {
      padding-bottom: 0px;
    }
  }
}

@media (max-width: 449px) {
  .img-gallery {
    max-width: 100px;
  }
  .hero {
    padding: 50px 25px 30px;
    margin: 0px;
    h1 {
      font-size-adjust: auto;
      font-size: 40px;
    }
    h2 {
      font-size: 30px;
    }
  }
  .skill-list {
    margin-top: 20px;
  }
  .info-page {
    border-radius: 0px;
    padding: 20px 15px;
    margin-left: 0px;
    margin-right: 0px;
    .description {
      text-align: center;
    }
    h1 {
      font-size-adjust: auto;
      font-size: 30px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    h2 {
      font-size: 20px;
    }
    .img-cell {
      padding-bottom: 0px;
      .text-area {
        margin-left: 0px;
        margin-right: 0px;
        text-align: center;
      }
    }
  }
}