@import 'mixins';

.skill-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  margin-top: 30px;
  li {
    width: 20%
  }
  ul {
    align-content: center;
    overflow: auto;
    width: 100%;
  }
}

.skill {
  -webkit-flex-basis: 80px;
  -ms-flex-preferred-size: 80px;
  flex-basis: 80px;
  svg {
    stroke: $primary;
    stroke-width: 1px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    -webkit-animation: draw 10s linear infinite;
    animation: draw 10s linear infinite;
  }
  &:nth-child(1) svg {
    @include animation-delay(0s);
  }
  &:nth-child(2) svg {
    @include animation-delay(0.6s);
  }
  &:nth-child(3) svg {
    @include animation-delay(1.2s);
  }
  &:nth-child(4) svg {
    @include animation-delay(1.8s);
  }
  &:nth-child(5) svg {
    @include animation-delay(2.4s);
  }
  &:nth-child(6) svg {
    @include animation-delay(3s);
  }
}

@keyframes draw {
  0%, 10%, 90%, 100% {
    stroke-dashoffset: 1000;
    stroke: $secondary;
  }
  30%, 70% {
    stroke: $primary;
    // stroke: green;
  }
  45%, 55% {
    stroke-dashoffset: 0;
  }
}