@import '../common/common.scss';
@import url('https://fonts.googleapis.com/css?family=Cabin|Josefin+Sans|Nunito|Lato');

.cabin {
  font-family: Cabin, sans-serif;
}
.josefin-sans {
  font-family: Josefin Sans, sans-serif;
}
.nunito {
  font-family: Nunito, sans-serif;
}
.lato {
  font-family: Lato, sans-serif;
}
.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section {
  margin: 5px;
  width: 500px;
}
.underline {
  text-decoration: underline;
}

ol {
  padding: 0px;

  li {
    list-style: none;
  }
}

@media screen and (max-width: 800px) {
  .content {
    margin: 0px;
    padding: 0px;
  }
  .section {
    max-width: 90%;
  }
  body {
    padding-top: 60px;
  }
}