@import 'mixins';

.btn {
  background-color: none; /* Green */
  border-radius: 5px;
  border: none;
  color: $secondary;
  border: 1px $white solid;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-timing-function: linear;
  transition-duration: 0.15s;
  &:hover {
    color: $primary;
    border: 1px $primary solid;
  }
  &-outline {
    border: 1px $secondary solid;
    margin: 10px;
  }
}

.link {
  color: $secondary;
  font-size: 16px;
  transition-timing-function: linear;
  transition-duration: 0.15s;
  text-decoration: none;
  &:hover {
    color: $primary;
  }
  &-inv {
    color:$primary;
    &:hover {
      color: $secondary;
    }
  }
}

.btngroup {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 0px;
  line-height: 1;
  $white-space: nowrap;
  display: inline;
  justify-content: right;
  &--btn {
    font-size: 20px;
    letter-spacing: .1em;
    text-decoration: none;
    text-transform: uppercase;
    background: transparent;
    border: 1px solid $secondary;
    color: $secondary;
    border-left-width: 0;
    display: inline-block;
    padding: .5em 1.25em;
    outline: 0;
    transition-timing-function: linear;
    transition-duration: 0.15s;
    
    &:first-child {
      border-left-width: 1px;
      border-radius: 2em 0 0 2em;
    }
    
    &:last-child {
      border-radius: 0 2em 2em 0;
    }
    
    &:hover {
      background: $white;
      color: $primary;
    }
  }
}

.link-pill {
  text-align: center;
  justify-content: right;
  padding: 10px;
}