@import '../common/common.scss';

body {
  padding-top: 80px;
}
.profile-img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin: 10px;
  border: solid 1px white;
  
  &.-small {
    @extend .profile-img;
    height: 40px;
    width: 40px;
    margin-top: 0px;
  }
  &.-large {
    @extend .profile-img;
    height: 120px;
    width: 120px;
  }
}
.project {
  @extend .hover-grow;
  width: 700px;
  height: 200px;
  margin: 10px;
  margin-top: 15px;
  background-color: white;
  color: black;
  
  .img {
    display: inline-block;
    width: 40%;
    min-width: 200px;
    height: 100%;
    max-width: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    
    &.-p1 {
      background-image: url("https://emm035.github.io/fullstack/assets/index/img/p1-img.png");  
    }
    
    &.-no-p {  
      background-image: url("https://emm035.github.io/fullstack/assets/index/img/under-construction.jpg");
    }
  }
  
  .vbar {
    height: 100%;
    width: 1px;
    background: grey;
    display: inline-block;
  }
  
  .description {
    display: inline-block;
    width: 200px;
    height: 100%;
    vertical-align: top;
    margin-top: 10px;
  }
}


.vbar {
  height: 0px;
}

@media screen and (max-width: 800px) {
  .content {
    section {
      margin-left: 10px;
      margin-right: 10px;
    }
    .vbar {
      color: $grey;
    }
  }
  .project {
    margin-top: 10px;
    max-width: 300px;
    width: 70%;
    height: 300px;
    
    .img {
      width: 100%;
      max-height: 170px;
    }
    .vbar {
      height: 0px;
    }
    .description {
      width: 100%;
      margin-top: 0px;
      height: auto;
    }
  }
  .vbar {
    height: 0px;
  }
}