@import '../common/common.scss';

body {
  padding-top: 80px;
}
.profile-img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin: 10px;
  border: solid 1px white;

  &-small {
    @extend .profile-img;
    height: 40px;
    width: 40px;
    margin-top: 0px;
  }
  &-large {
    @extend .profile-img;
    height: 120px;
    width: 120px;
  }
}
.project {
  @extend .hover-grow;
  width: 300px;
  height: 170px;
  margin: 10px;
  margin-top: 15px;
  border: 1px;
  border-style: solid;
  border-color: dimgray;
  border-radius: 5px;
  background-color: white;
  color: black;
}
.under-construction {
  display: block;
  width: 100%;
  height: 100px;
  background-image: url("https://emm035.github.io/fullstack/assets/index/img/under-construction.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.clean-list {
  list-style: none;
  padding: 0px;
}
.vbar {
  height: 80px;
  width: 1px;
  background-color: $grey;
  margin-left: 10px;
  margin-right: 10px;
}
@media screen and (max-width: 800px) {
  .content {
    section {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
  .project {
    max-width: 300px;
    width: 70%;
  }
  .vbar {
    height: 0px;
  }
}