
.float {
  float: inherit;

  &.-left {
    float: left;
  }

  &.-right {
    float: right;
  }
}

.centered {
  text-align: center;
}

.flex-centered {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;

  &.-wrap {
    flex-wrap: wrap;

    &-reverse {
      flex-wrap: wrap-reverse;
    }
  }

  &.-column {
    // flex-wrap: nowrap;
    flex-direction: column;

    &.-reverse {
      flex-direction: column-reverse;
    }
  }

  &.-aligned {
    align-items: center;
  }

  &.-reverse {
    flex-direction: row-reverse
  }
}

.fill-parent {
  position: absolute;

  &.-left {
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 40%;
  }

  &.-center {
    top: 0px;
    bottom: 0px;
    right: 60%;
    left: 40%;
  }

  &.-right {
    top: 0px;
    bottom: 0px;
    left: 60%;
    right: 100%;
  }
}

.clean-list {
  text-align: center;
  list-style: none;
  padding: 0px;
}
